footer
	br
	br
	//- center <img src="http://s.pcspucv.cl/wp-content/uploads/2017/09/pie.png" width="170px" height="50px">
	//- br
	center <font color="00284a">2017 © Dirección de Telecomunicaciones e Informatica</font> | <font color="00284a">Armada de Chile</font>
	center <font color="00284a">Soft Consulting</font>