nav.navbar.navbar-expand-lg.navbar-light.bg-light
  a.navbar-brand(href='/') <img src="http://s.pcspucv.cl/wp-content/uploads/2017/09/logo1.png" width="170px" height="40px">
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
  nav#main-nav.main-nav-pull-right
    ul.navbar-nav.mr-auto
      li.nav-item.active
        a.nav-link(href='/')
          //-| Inicio 
          span.sr-only (current)
      li.nav-item
        a.nav-link(href='/inicio') Acceder
      li.nav-item
        a.nav-link(href='/formulario') Registrarse
      if isAuthenticated 
        li.nav-item
          a.nav-link.disabled(href='/chat') Chat
        li.nav-item
          a.nav-link.disabled(href='/sesiones') Sesiones
      if isAuthenticated    
          li.nav-item
            a.nav-link.disabled(href='logout') Cerrar Sesion
      
